@tailwind base;
@tailwind components;
@tailwind utilities;



@layer components {
  .btn-primary{
    @apply py-1 rounded font-bold m-1 px-4 bg-blue-300 hover:bg-blue-400 inline-block;
  }
  .btn-cancel{
    @apply py-1 rounded font-bold m-1 px-4 bg-amber-400 hover:bg-amber-500 inline-block;
  }
  .btn-submit {
    @apply rounded-lg font-bold py-2 px-5 bg-blue-600 hover:bg-blue-800 text-white inline-block cursor-pointer;
  }
  .btn-warn, .btn-sm-warn {
    @apply btn-sm bg-red-600 text-white hover:bg-red-800;
  }
  .icon {
    @apply w-7 text-sm mx-1 rounded-md font-bold py-0.5 text-center text-white px-1 border-2 border-gray-700 bg-gray-500 hover:bg-gray-600 inline-block;
  }
  .icon-show {
    @apply icon  border-blue-700 bg-blue-500 hover:bg-blue-600;
  }
  .icon-edit {
    @apply icon  border-green-700 bg-green-500 hover:bg-green-600;
  }
  .icon-destroy {
    @apply icon  border-red-700 bg-red-500 hover:bg-red-600;
  }
  .btn-xsm {
    @apply rounded-md font-bold bg-green-400 hover:bg-green-500 text-sm py-0.5 px-2 inline-block
  }
  .btn-sm {
    @apply mx-1 rounded-md font-bold py-1 px-3 bg-gray-300 hover:bg-gray-400 inline-block;
  }
  .btn-sm-green {
    @apply btn-sm bg-green-400 hover:bg-green-500 inline-block;
  }
  .btn-sm-blue {
    @apply btn-sm bg-blue-300 hover:bg-blue-400 inline-block;
  }
  .btn-sm-link {
    @apply btn-sm bg-blue-700 hover:bg-green-600 text-white inline-block;
  }
  .btn-sqr-dblue{
    @apply bg-blue-800  text-center font-bold border border-zinc-100 py-1

  }
  .btn-pt{
    @apply bg-pt-blue-d hover:bg-pt-blue-l text-white text-center font-bold border border-zinc-100 px-2 py-1 inline-block
  }
  .btn-link {
    @apply btn-sm-green
  }

  .birdie{ @apply bg-green-400 hover:bg-green-500}
  .eagle{ @apply bg-blue-400 hover:bg-blue-500}
  .albatros{@apply bg-amber-400 hover:bg-amber-500}
  .cut{@apply bg-red-400 hover:bg-red-500}

  .st-1 {@apply bg-green-300 hover:bg-green-400}
  .st-2 {@apply bg-blue-300 hover:bg-blue-400}
  .st-3 {@apply bg-amber-300 hover:bg-amber-400}
  .st-9 {@apply bg-red-300 hover:bg-red-400}
  .btn-schedule {
    @apply text-white py-1 px-2 bg-blue-800 hover:bg-blue-500  border-zinc-300 border-2 inline-block;
  }
  .bg-gray1 {
    @apply bg-slate-500 hover:bg-slate-400 hover:text-slate-800 hover:opacity-90 border-2 border-slate-700 text-slate-100  
  }
  .btn-gray {
    @apply  bg-gray1 py-1 px-2 mr-1 rounded-md text-lg font-bold cursor-pointer
  }
  .strong {
    @apply font-bold text-lg
  }

  



}

