table.classic {
  border-collapse: collapse;
}

table.classic tr:nth-of-type(even) {
  background-color: #f8f8f8;
}

table.classic thead{
  background-color: #e8e8e8;
}

table.classic td, table.classic th {
  padding: 0.3rem;
  border: solid 1px #aaa;
}

table.classic th {
  padding: 0.2rem;
}

table.golfer {
  border-collapse: collapse;
}

table.golfer tr:nth-of-type(even) {
  background-color: #eeffee;
}
table.golfer thead{
  background-color: #d2ffd2;
}
table.golfer td, table.golfer th {
  padding: 0.3rem;
  border: solid 1px #aaa;
}
table.golfer th {
  padding: 0.2rem;
}

.stripped tr:nth-child(even), .stripped {
   background-color: #e2ffe2;
}

.w3-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
/*.w3-badge{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.w3-badge{border-radius:50%}*/
.w3-badge{background-color:#000;color:#fff;display:inline-block;padding-left:10px;padding-right:10px;padding-top:4px;padding-bottom:4px;text-align:center}.w3-badge{border-radius:50%}
.w3-btn,.w3-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.w3-btn,.w3-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.w3-btn.w3-disabled:hover,.w3-btn:disabled:hover{box-shadow:none}
.w3-button:hover{color:#000!important;background-color:#ccc!important}
.w3-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.w3-card,.w3-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.w3-card-4,.w3-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.w3-dropdown-click,.w3-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.w3-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.w3-dropdown-hover:first-child,.w3-dropdown-click:hover{background-color:background-color: transparent;color:#000}
.w3-dropdown-hover:hover .w3-dropdown-content{display:block}
.w3-dropdown-hover:hover > .w3-button:first-child,.w3-dropdown-click:hover > .w3-button:first-child{background-color:#ccc;color:#000}
.w3-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.w3-modal{z-index:3;display:none;padding-top:8rem;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.w3-modal-content{margin:auto;background-color:#fff;position:relative;padding:0;outline:0;width:60%;}
.w3-container,.w3-panel{padding:0.01em 16px}.w3-panel{margin-top:16px;margin-bottom:16px}
.w3-container:after,.w3-container:before,.w3-panel:after,.w3-panel:before,.w3-row:after,.w3-row:before,.w3-row-padding:after,.w3-row-padding:before,
.w3-hide{display:none!important}.w3-show-block,.w3-show{display:block!important}.w3-show-inline-block{display:inline-block!important}
.w3-green,.w3-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}

.annotate{
  font-style: italic;
  font-size: 80%;
  line-height: 110%;
  font-weight: normal;
}

.sticky-menu {
   position: -webkit-sticky;
  /* Safari */
   position: sticky;
   top: 0;
   z-index: 2;
}
.sticky-col {
   position: -webkit-sticky;
  /* Safari */
   position: sticky;
   bottom: 0;
   z-index: 2;
}
.btn-sqr-blue{
  background-color: #273862;
  color: white;
}
.btn-sqr-blue:hover{
    background-color: #4766b2;
}

.small-caps {
   font-variant: small-caps;
}

.pagy {
  display: flex;
  font-family: sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
  color: #6b7280;
}
.pagy > :not([hidden]) ~ :not([hidden]) {
  --space-reverse: 0;
  margin-right: calc(0.25rem * var(--space-reverse));
  margin-left: calc(0.25rem * calc(1 - var(--space-reverse)));
}
.pagy a:not(.gap) {
  display: block;
  text-decoration: none;
  border-radius: 0.5rem;
  background-color: #e5e7eb;
  padding: 0.25rem 0.75rem;
  color: inherit;
}
.pagy a:not(.gap):hover {
  background-color: #d1d5db;
}
.pagy a:not(.gap):not([href]) { 
  background-color: #f3f4f6;
  color: #d1d5db;
}
.pagy a:not(.gap).current {
  background-color: #9ca3af;
  color: white;
}
.pagy label {
  white-space: nowrap;
  display: inline-block;
  border-radius: 0.5rem;
  background-color: #e5e7eb;
  padding: 0.125rem 0.75rem;
}
.pagy label input {
  line-height: 1.5rem;
  border-radius: 0.375rem;
  border-style: none;
  background-color: #f3f4f6;
}

.card-4, .hover-shadow:hover {
   box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.lime-btn {
  background-color: #4CCF70 ;
  padding: 6px 8px;
  text-decoration: none;
  border: none;
  margin: 2px;
  font-weight: bold;
  width: 100%;
  height: 100%;
}
.lime-btn:hover {
  background-color: #b8ffb8 !important;
  color:#4CCF70;
}

.w08p {
   width: 10%;
}
.w04p {
   width: 3.4%;
}

input:disabled,
textarea:disabled,
select:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

p {
  margin:0.3rem 0;
  line-height: 1.2rem;
}

dd{
  margin:0.3rem 0;
  line-height: 1.0rem;
}


/*p.slim {
 text-indent:1rem;
 line-height: 1.0rem;

}
*/

.strong{
  font-weight: bold;
}

dl.indent-dd dd {
   margin-left: 2rem;
   line-height: 1.2rem;
   margin-bottom: 0.3rem;
}
dl.indent-dd dt {
   margin-left: 1rem;
   font-weight: bold;
   line-height: 1.2rem;
   margin-bottom: 0.3rem;
}

dl.indent-dd.strong-dt dt {
   font-weight: bold;
}

ul, ul.slim, ul.classic {
   list-style-type: disc;
   padding-left: 1rem;
   margin-left:  1rem;
}

/*.gbtn {
    background-color: #a79055;
    color: #fff;
    padding:6px 16px;
    margin-bottom: 2px;
}

.gbtn:hover {
   color: #000;
   background-color: #b79055;
}

.bbtn {
  background-color:rgba(96, 185, 250);
  color: #000;
  padding:6px 16px;
  margin-bottom: 2px;
}

.bbtn:hover {
  color: #fff;
  background-color:rgba(96, 165, 250)
}

.wbtn {
  background-color:rgba(255, 185, 0);
  color: #000;
  padding:6px 16px;
  margin-bottom: 2px;
}

.wbtn:hover {
  color: #fff;
  background-color:rgba(255, 165, 0);
}
*/

/*.row-box-18 .row-box {
  height: 1.5rem;
  font-weight: 200;
  margin: 0;
  padding: 0;
  border-left: solid 1px #aaddaa;
  border-top: solid 1px #aaddaa;
  display: inline-block;
  background-color: white;
  line-height: 1.5rem;
  font-size: 0.9rem;
}

.row-box-18 .row-box.lbl {
  background-color: #e7ffe7;
  font-weight: 500;
}

.row-box-18 .row-box span {
  width: 2rem;
  height: inherit;
  text-align: center;
  border-right: solid 1px #aaddaa;
  border-bottom: solid 1px #aaddaa;
  display: inline-block;
  overflow: hidden;
}

.row-box-18 .row-box span.lbl {
  background-color: #e7ffe7;
  font-weight: 500;
}

.row-box-18 .row-box span.err {
  color: red;
}

.row-box-18 .row-box span.cut {
  color: red;
  background-color: #ffe6e6;
  font-weight: 700;
}

.row-box-18 .row-box span.good, .row-box-18 .row-box span.birdie {
  color: green;
  background-color: #b3ffb3;
  font-weight: 700;
}

.row-box-18 .row-box span.eagle {
  color: #00f;
  background-color: #b3b3ff;
  font-weight: 700;
}

.row-box-18 .row-box span.albatros {
  color: yellow;
  background-color: #999900;
  font-weight: 700;
}

.row-box-18 .row-box span.title {
  width: 4rem;
  font-weight: 700;
}
*/
/*.btn-sqr-blue{
  background-color: #273862;
  color: white;
  display: inline-block;

}
.btn-sqr-blue:hover{
  background-color: #4766b2;

}
*/
/*.select {
  min-width: 3ch;
  max-width: 30ch;
  border: 1px solid green;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1.1rem;
  cursor: pointer;
  -webkit-appearance: menulist;
  line-height: 1.1;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
.select::after {
  content: "";
  width: 0.8em;
  height: 0.5em;
  background-color: var(--select-arrow);
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
}
*/
/* for now, all select uses webkit style */

/*.select select, select {
  -webkit-appearance: menulist;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);

}
*/
/*select :disabled {
  opacity: 0.;
  cursor: not-allowed;
}
*/

/*.w3-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.w3-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.w3-animate-input{transition:width 0.4s ease-in-out}.w3-animate-input:focus{width:100%!important}
.w3-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.w3-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.w3-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.w3-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
*/


